    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <br>
        <div class="row vcenter">
            <div class="col-lg-2">
                <img src="https://placekitten.com/g/220/220" class="img-circle">
              </div>
            <div class="col-lg-10">
              <h2>О нас/Zalkadni informace</h2>
              <br/>
                <p>Благодаря моим уникальным методикам практикам и прочим штукам, вы точно заговорите по русски, сможете читать, смотреть фильмы, общаться с друьями и не только</p>
                <p>Это стоит дорого, но оно того стоит!</p>
                <p>Даже если вы никогда не изучали русский язык и не планировали, то самое время попробовать!</p>
                <p>Только ленивый не говорит по русски!</p>
                <br/>
              </div>
        </div>


      
    </section>
