    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>О нас/Zalkadni informace</h2>
              <br/>
                <p>Благодаря моим уникальным методикам практикам и прочим штукам, вы точно заговорите по русски, сможете читать, смотреть фильмы, общаться с друьями и не только</p>
                <p>Это стоит дорого, но оно того стоит!</p>
                <p>Даже если вы ниогда не изучали русский язык и не планировали, то самое время попровать!</p>
                <p>Только ленивый не говорит по русски!</p>
                <br/>
              </div>
        </div>
    </section>
