    <!-- About Section -->
    {% assign lang = site.active_lang %}
    <section id="about" class="container content-section text-center">
        <br>
        <div class="row vcenter">
            <div class="col-lg-2">
                    <div class="imgContainer">
                    </div>
              </div>
            <div class="col-lg-10">
              <h2>{{site.data[site.active_lang].general.about_me}}</h2>
              <br/>
                {{site.data[site.active_lang].general.about_me_desc}}
                <br/>
              </div>
        </div>


      
    </section>
