<form role="form" id="contact-form" class="contact-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                  <input type="text" class="form-control" name="name" autocomplete="off" id="Name" placeholder="{{site.data[site.active_lang].general.name}}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                  <input class="form-control" type="email" name="_replyto"
                          required placeholder="email@address.com">
                          <input type="hidden" name="_subject" value="New submission!" />
            </div>
            <input type="hidden" name="_next" value="//heartcoins.org/thanks.html" />
            <input type="hidden" name="_subject" value="Website contact" />
            <input type="text" name="_gotcha" style="display:none" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control textarea" rows="3" name="message" id="Message" placeholder="{{site.data[site.active_lang].general.message}}"></textarea>
            </div>
            <button type="submit" name="sbutton" class="sbutton btn main-btn pull-right">{{site.data[site.active_lang].general.send_button}}</button>
          </div>
        </div>
      </form>