<section id="feedback" class="feedback">
<div class="container text-center">
    <h2 class="desktop">{{site.feedback}}</h2>
</div>
<div class="tcb-carousel-reviews ">
        <div class="container">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    {% for members in site.data.feedbacks.members %}
                        {% if forloop.first == true %}
                            <div class="item active">
                                <div class="row">
                                    {% for item in members.sub_members %}
                                    <div class="col-md-4 col-sm-6">
                                        <div class="block-text ">
                                            <div class="mark">{{item.time}}
                                            </div>
                                            <p>	{{item.text}}
                                            </p>
                                            <ins class="sprite sprite-i-triangle"></ins>
                                        </div>
                                        <div class="person-text">
                                            <div class="reviewer">
                                                <img class="img-responsive " src="{{ site.baseurl }}/img/{{item.sex}}.png" alt="">
                                            </div>
                                            <a href="#">{{item.name}}</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                    <div class="row">
                                        {% for item in members.sub_members %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="block-text ">
                                                <div class="mark">{{item.time}}
                                                </div>
                                                <p>	{{item.text}}
                                                </p>
                                                <ins class="sprite sprite-i-triangle"></ins>
                                            </div>
                                            <div class="person-text">
                                                <div class="reviewer">
                                                    <img class="img-responsive " src="{{ site.baseurl }}/img/{{item.sex}}.png" alt="">
                                                </div>
                                                <a href="#">{{item.name}}</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
        </div>
</section>