<section id="services">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 1</h2>
                    <div class="lead">
Русский алфавит. Научимся читать. Узнаем, как поздороваться и попрощаться.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/54/79/d1/5479d16023800565d2b6465079dbc2cd.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 2</h2>
                    <div class="lead">Научимся знакомиться и представлять кого-то другого. 
</div>Семья. 
</div>Профессии.
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="http://www.obrazovanie-za-rubezhom-sm.svitmolodi.com.ua/data/news/00/00/00/21/92/origin/b6b3568f25e9e3746bc42c3b2529934f.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 3</h2>
                    <div class="lead">
Как сказать что вы любите, а что любят ваши близкие? Домашние животные. Русские имена. </div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W3q8Od5qJio" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://www.vestikavkaza.ru/upload/2016-12-06/cab07fa056353e0eddb9e361e5586780.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>
