<section id="services">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 1</h2>
                    <div class="lead">
Русский алфавит. Научимся читать. Узнаем, как поздороваться и попрощаться.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/54/79/d1/5479d16023800565d2b6465079dbc2cd.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 2</h2>
                    <div class="lead">Научимся знакомиться и представлять кого-то другого. Семья. Профессии.
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/ba/35/ca/ba35ca1ff141751a22bf9bb102ff9027.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Урок 3</h2>
                    <div class="lead">
Как сказать что вы любите, а что любят ваши близкие? Домашние животные. Русские имена. </div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W3q8Od5qJio" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://karlmarx.lib54.ru/pictures/domash_zhivotnye.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>
