<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
	    {% include navbar.html %}
<hr class="intro-divider">
		<div class="container">

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/female.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                <strong>Kristýna Kubšová:</strong> <span class="text-muted">(20.5.2017)</span>
                                </div>
                                <div class="panel-body">
					Таня очень хорошая, милая, 
					улыбчивая и терпеливая. Она мне помогала в течение двух лет, 
					чтобы я подготовилась к экзаменам. Она даёт много домашних 
					упражнений и ее уроки весёлые :-). Можно говорить с ней обо всем. 
					И сегодня я сдала экзамены!!! Большое спасибо тебе за все!                              
				</div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->

                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
        </div>

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/female.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Blanka Kuzmická:</strong> <span class="text-muted">(28.4.2017)</span>
                                    </div>
                                    <div class="panel-body">
                                        Výuka probíhala perfektně, 
                                        splnila to co měla. Elsa se vždy těšila a moc ji to s vámi bavilo. 
                                        Vždy byla zvědavá jakou formu zvolíte. Bavilo jí učení pomocí her, 
                                        které jste vymýšlela. a moc ráda si s vámi povídala, vždy promýšlela co vám vše 
                                        musí říci.                             
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	        </div>

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/male.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Jakub Stehlík:</strong> <span class="text-muted">(10.3.2017)</span>
                                    </div>
                                    <div class="panel-body">
                                        Je skoda, ze uz nemate moc casu, vyuky s Vami mi vyhovovaly, 
                                        я был очень довольный с вами )  
                                        Nejvic ocenuji Vas profesionalni pristup a take je videt, 
                                        ze Vas to bavi. To je uplne idealni kombinace.                              
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	        </div>

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/female.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Michaela Salák:</strong> <span class="text-muted">(28.7.2016)</span>
                                    </div>
                                    <div class="panel-body">
                                        Paní Tanja je skvělá učitelka. 
                                        Doučovala mě a manžela. Jak ona sama se svým vystupováním, přístupem, 
                                        tak i její lekce byly velice příjemné a zajímavé. 
                                        Kromě doručování nám pomáhala i s překlady. Doporučuji.                               </div><!-- /panel-body -->
                                    </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	        </div>


            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/male.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Michal Havel:</strong> <span class="text-muted">(17.4.2016)</span>
                                    </div>
                                    <div class="panel-body">
                                        Táňu můžu jedině doporučit! Je trpělivá, 
                                        časově flexibilní a spoustu mě toho naučila. 
                                        Kdo by se rád naučil nebo zdokonalil v ruštině, tak ať neváhá.                                </div><!-- /panel-body -->
                                    </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	        </div>
                
            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/female.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Jana Sosa Arias:</strong> <span class="text-muted">(21.2.2016)</span>
                                    </div>
                                    <div class="panel-body">
                                        Tana je skvela ucitelka,diky ni a jeji trpelivosti jsem zvladla zacatky rustiny..vrele doporucuji!
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
                    
           <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail no-border">
                                    <img class="img-responsive user-photo" src="{{ site.baseurl }}/img/male.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Mikuláš: </strong> 
                                        <span class="text-muted">
                                            (28.1.2016)
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        S výukou jsem byl spokojen, vysvětlujete srozumitelně a tak, že to člověk pochopí 😊 
                                        váš přístup je také super, že např. chodíte na čas. Také jsem rád, že jste výukové materiály přinesla, 
                                        jako okopírovanou učebnici atd.  😊 hodnotil bych pouze pozitivně. Přeji hodně štěstí 
                                        do budoucna a úspěchu 😊                                
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
			</div>

		</div>
<hr class="intro-divider">
		{% include lessonsFooter.html %}
		{% include js.html %}
	</body>
</html>
