<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
	    {% include navbar.html %}
<hr class="intro-divider">
		<div class="container">

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="http://placedog.herokuapp.com/g/220/220">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                <strong>Mikuláš: </strong> 
					<span class="text-muted">
						(28.1.2016)
					</span>
                                </div>
                                <div class="panel-body">
						S výukou jsem byl spokojen, vysvětlujete srozumitelně a tak, že to člověk pochopí 😊 
						váš přístup je také super, že např. chodíte na čas. Také jsem rád, že jste výukové materiály přinesla, 
						jako okopírovanou učebnici atd.  😊 hodnotil bych pouze pozitivně. Přeji hodně štěstí 
						do budoucna a úspěchu 😊                                </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->

                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
			</div>

            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="http://placedog.herokuapp.com/g/220/220">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                <strong>Jana Sosa Arias:</strong> <span class="text-muted">(21.2.2016)</span>
                                </div>
                                <div class="panel-body">
                                Tana je skvela ucitelka,diky ni a jeji trpelivosti jsem zvladla zacatky rustiny..vrele doporucuji!
                                </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->

                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	    </div>
			
            <div class="row">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="col-sm-1">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="http://placedog.herokuapp.com/g/220/220">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                <strong>Michal Havel:</strong> <span class="text-muted">(17.4.2016)</span>
                                </div>
                                <div class="panel-body">
					Táňu můžu jedině doporučit! Je trpělivá, 
					časově flexibilní a spoustu mě toho naučila. 
					Kdo by se rád naučil nebo zdokonalil v ruštině, tak ať neváhá.                                </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->

                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
	    </div>

		</div>
<hr class="intro-divider">
		{% include lessonsFooter.html %}
		{% include js.html %}
	</body>
</html>
