<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
	    {% include navbar.html %}
		<div class="container">
			
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1>Překlady a Korektura</h1>
					<hr class="intro-divider">
					<p>Nabízím překlady z češtiny do ruštiny.</p>
					<p>Provádím překlady odborných textů, smluv a technické dokumentace všech oborů. 
					<p>Specializuji se na překlady audio a video nahrávek, softwarových aplikací a webových stránek.</p>		
					<p>Cena již od 220 kč za normostránku textu.</p>	

					<hr class="intro-divider">					
					<p>Korektury poskytuji nejčastěji pro marketingové materiály a texty určené k publikaci (články, diplomové práce, knihy a podobně).</p>
					<p>Při korektuře opravím nejen pravopisné a gramatické chyby, ale také stylistiku. </p>	
	
					<hr class="intro-divider">					
					<p>Pokud máte zájem o překladatelské služby nebo korekturu, kontaktujte mě nejlépe e-mailem, ke kterému přiložíte text k zpracování. </p>
					<p>Obratem vám sdělím, zda mohu zakázku přijmout, termín vyhotovení i konečnou cenu.</p>		
				</div>
			</div>
		</div>
<hr class="intro-divider">
		{% include lessonsFooter.html %}
		{% include js.html %}
	</body>
</html>